a{
    text-decoration: none;
    font-weight: 700;
    color: burlywood;
}
.rojo{
    color:black;
    text-align: center;

}
#ramon{
    color: rgb(20, 184, 47);
    text-decoration: none;
}

#rene{
    background-color: royalblue;
}